<a href="https://colab.research.google.com/github/Tasnim-Jahan/Course_Deep_Learning/blob/main/IntroToPython_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary in Python:

In [ ]:
my_dict = {1: "Pyton", 2: "Java"}
my_dict

{1: 'Pyton', 2: 'Java'}

In [ ]:
my_dict = {"First" : "Pyton", "Second" : "Java"}
my_dict

{'First': 'Pyton', 'Second': 'Java'}

In [ ]:
my_dict["Third"] = "C++"
my_dict

{'First': 'Pyton', 'Second': 'Java', 'Third': 'C++'}

In [ ]:
print(my_dict)

{'First': 'Pyton', 'Second': 'Java', 'Third': 'C++'}

In [ ]:
my_dict['First']
# print(my_dict['First'])

'Pyton'

In [ ]:
print(my_dict.keys())

dict_keys(['First', 'Second', 'Third'])

In [ ]:
print(my_dict.values())

dict_values(['Pyton', 'Java', 'C++'])

In [ ]:
print(my_dict.items())

dict_items([('First', 'Pyton'), ('Second', 'Java'), ('Third', 'C++')])

In [ ]:
x = my_dict.pop('Third')
print('Value: ',x)

Value:  C++

In [ ]:
my_dict

{'First': 'Pyton', 'Second': 'Java'}

In [ ]:
x = my_dict.popitem()
x

('Second', 'Java')

In [ ]:
my_dict

{'First': 'Pyton'}

Multi-Dimentional Dictionary

In [ ]:
fruits = {"Fruit_name" : {
    "Apple" : {
        "Color": "Red",
        "Shape" : "Round"
    },
    "Orange" : {
        "Color": "Orange",
        "Shape" : "Round"
    }
  }
}
fruits

{'Fruit_name': {'Apple': {'Color': 'Red', 'Shape': 'Round'},
  'Orange': {'Color': 'Orange', 'Shape': 'Round'}}}

In [ ]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
print(example[-3:-1])

['Monday', 'Tuesday']

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(type(sorted_numbers))

<class 'list'>

In [ ]:
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif b == a:
  print("a is equal to b")
else:
  print("a is greater than b")

a is equal to b

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(1, 11): # To print 1 - 10
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(0, 51, 5):
  print(x)

0
5
10
15
20
25
30
35
40
45
50

In [ ]:
for x in range(6):
  if x == 4:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2
3

In [ ]:
x = 11.77
y = x % 2
int(y)

1

In [ ]:
x = 2
y = 3
x = x ** y
x

8

In [ ]:
for x in range(1, 51):
  if x%3==0 and x%5==0:
    print(x, "BLUE")
  elif x%3==0:
    print(x, "RED")
  elif x%5==0:
    print(x, "GREEN")
  else:
    print(x)

1
2
3 RED
4
5 GREEN
6 RED
7
8
9 RED
10 GREEN
11
12 RED
13
14
15 BLUE
16
17
18 RED
19
20 GREEN
21 RED
22
23
24 RED
25 GREEN
26
27 RED
28
29
30 BLUE
31
32
33 RED
34
35 GREEN
36 RED
37
38
39 RED
40 GREEN
41
42 RED
43
44
45 BLUE
46
47
48 RED
49
50 GREEN

In [ ]:
i = 1 # initializtion
while i <= 6: # condition
  print(i)
  i += 1  # increment

1
2
3
4
5
6

In [ ]:
def hello():
  print("Hello; How are you???")

In [ ]:
hello()

Hello; How are you???

In [ ]:
def sum(x, y):
  return x+y

In [ ]:
sum(10, 77.77)

87.77

In [ ]:
def sub(x, y):
  return x-y

In [ ]:
def mult(x, y):
  return x*y

In [ ]:
def div(x, y):
  return x/y

In [ ]:
mult(10, 77.77)

777.6999999999999

In [ ]:
def calculator():
  print("Calculator for + - * /")
  x = float(input("Enter 1st number: "))
  y = float(input("Enter 2nd number: "))
  print("Please press 1 for +, 2 for -, 3 for *, 4 for / ")
  z = int(input("Press 1 or 2 or 3 or 4: "))
  if z==1:
    result = sum(x,y)
  elif z==2:
    result = sub(x,y)
  elif z==3:
    result = mult(x,y)
  elif z==4:
    result = div(x,y)
  else:
    print("Please press the right number")
  print("Result: ", result)

In [ ]:
calculator()

Calculator for + - * /
Enter 1st number: 20
Enter 2nd number: 200
Please press 1 for +, 2 for -, 3 for *, 4 for /
Press 1 or 2 or 3 or 4: 3
Result:  4000.0

In [ ]:
# Funciton for n!
def fac_N(n):
  if n==1:
    return 1
  else:
    return n * fac_N(n-1)

In [ ]:
fac_N(3)

6